.git
.gitignore
.github

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.dev.yml

data
desktop
docs
tests

bin
dist
output

*.exe
novel-dl
novel-cli
novel-dl-desktop

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
